<div class="container" *ngIf="currentUser">
    <p>Hello!<b> {{currentUser.firstName}}{{currentUser.lastName}}</b>, Enter your new password</p>
    
</div>

<div class="container">
    <form #setNewPassword="ngForm" (ngSubmit)="resetPassword()">
        <div class="form-group">
            <label>New Password</label>
            <input class="form-control" type="password" [(ngModel)]="password" name="password" #pass="ngModel" placeholder="password" required>
            <div class="text-danger" *ngIf='pass.invalid && (pass.dirty || pass.touched)'>
                    Password is required
            </div>
        </div>

        <div class="form-group">
            <label >Confirm Password</label>
            <input type="password" #cpass="ngModel" class="form-control" compare="password" [(ngModel)]='cpassword' placeholder="Confirm Password" name="cpassword" required>
                <div class="text-danger" *ngIf="cpass.invalid && (cpass.dirty || cpass.touched)">
                <div *ngIf="cpass.errors['required']"> Password confirm is required</div>
                  <div *ngIf="!cpass.errors['required'] && cpass.errors['notEqual']"> Password do not match</div>
                </div>
        </div> 

        <div class="form-group">
            
            <button type="submit" class="btn btn-success"  [disabled]="setNewPassword.invalid" >Reset</button>
        </div>
        
    </form>
</div>
