<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-inverse" style="font-size: 15px">
  <div class="container-fluid" style="display: inline">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <span class="navbar-brand" style="font-size: 15px; color:white">Practice  Assignment</span> 
    </div>
    <div class="collapse navbar-collapse" id="myNavbar" >
      <ul class="nav navbar-nav" style="display: inline">
        <li ><a [routerLink]="['/home']">Home</a></li>
       
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" style="display: inline" >
        <li><a [routerLink]="['/signup']"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a [routerLink]= "['/login']"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li><a [routerLink]= "['/home']" ><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>
