.container{
    margin-top: 15px;
    width: 35%
    
}

input.has-error{
    border-color: red;
}
input{
    font-size: 20px;
    width: 100%
}

.help-block{
    color: red;
    font-size: 15px
}

button{
    font-size: 15px;
    width: 40%;
}